# fly.toml app configuration file generated for live-toast on 2024-05-08T20:10:59-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'live-toast'
primary_region = 'ord'
kill_signal = 'SIGTERM'

[build]

[env]
  PHX_HOST = 'toast.src.rip'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 10000
    soft_limit = 10000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
