<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "LiveToast" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer src="https://analytics.src.rip/pa.js" id="pianjs" data-code="20cTBsepkWfQaH2PXXRBWgAshpOwTKhG" data-hit-endpoint="https://analytics.src.rip/hit" data-event-endpoint="https://analytics.src.rip/event" data-session-endpoint="https://analytics.src.rip/session"></script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
  <footer class="mt-10 px-10 py-6 flex gap-4">
    <.link href={"https://github.com/srcrip/live_toast"} class="text-zinc-700 text-xs">github</.link>
    <.link href={"https://hex.pm/packages/live_toast"} class="text-zinc-700 text-xs">hex</.link>
    <.link href={"https://hexdocs.pm/live_toast/readme.html"} class="text-zinc-700 text-xs">docs</.link>
    <span class="grow text-right text-zinc-700 text-xs">made by <.link href="https://src.rip" class="text-rose-500 hover:text-rose-400">andrew@src.rip</.link></span>
  </footer>
</html>
